USE [master]
GO
/****** Object:  Database [VACINACAORJ]    Script Date: 20/01/2023 09:11:15 ******/
CREATE DATABASE [VACINACAORJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VACINACAORJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VACINACAORJ.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VACINACAORJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VACINACAORJ_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VACINACAORJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VACINACAORJ]
GO
/****** Object:  Table [dbo].[RELATORIO]    Script Date: 20/01/2023 09:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATORIO](
	[IDRELATORIO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[DATA_SOLICITACAO] [datetime] NULL,
	[DESCRICAO_RELATORIO] [varchar](80) NULL,
	[DATA_APLICACAO] [datetime] NULL,
	[QUANTIDADE_VACINADOS] [numeric](18, 0) NULL,
	[IDSOLICITANTE] [numeric](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRELATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITANTE]    Script Date: 20/01/2023 09:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITANTE](
	[IDSOLICITANTE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](300) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSOLICITANTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RELATORIO]  WITH CHECK ADD FOREIGN KEY([IDSOLICITANTE])
REFERENCES [dbo].[SOLICITANTE] ([IDSOLICITANTE])
GO
USE [master]
GO
